#include "credential.h"

const char* SSID = "your_ssid";
const char* PASSWORD = "your_ssid_password";

const String FIREBASE_PROJECT_ID = "your_firebase_project_id";
const String API_KEY = "your_api_key";
const String DOCUMENT_NAME = "your_document_name";
const String FIRESTORE_URL = "your_firestore_url";


const char* getSSID() {
    return SSID;
}

const char* getPassword() {
    return PASSWORD;
}

String getFirestoreUrl() {
    return FIRESTORE_URL;
}