#include "credential.h"

// Konfigurasi WiFi
const char* SSID = "your_ssid";
const char* PASSWORD = "your_ssid_password";

// Konfigurasi Firebase
const String FIREBASE_PROJECT_ID = "your_firebase_project_id";
const String API_KEY = "your_api_key";
const String DOCUMENT_NAME = "your_document_name";

const String FIRESTORE_URL = "https://firestore.googleapis.com/v1/projects/" + FIREBASE_PROJECT_ID + "/databases/(default)/documents/" + DOCUMENT_NAME + "?key=" + API_KEY;;
